<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geist:400,700&amp;display=swap">
    <link rel="stylesheet" href="../assets/css/bss-overrides.css">
    <link rel="stylesheet" href="../assets/css/app-ui/file-storage.css">
    <link rel="stylesheet" href="../assets/css/app-ui/fitness-tracker.css">
    <link rel="stylesheet" href="../assets/css/app-ui/product-card.css">
    <link rel="stylesheet" href="../assets/css/app-ui/social-feed.css">
    <link rel="stylesheet" href="../assets/css/app-ui/wallet.css">
    <link rel="stylesheet" href="../assets/css/app-ui/weather-forecast.css">
    <link rel="stylesheet" href="../assets/css/sales-report.css">
    <link rel="stylesheet" href="../assets/css/template.css">
</head>

<body>
    <section class="bg-body-tertiary">
        <div class="container d-flex w-100 min-vh-100 flex-column justify-content-center align-items-center">
            <div class="card overflow-hidden max-w-400">
                <div class="position-relative"><img class="img-fluid aspect-ratio-21x9 object-fit-cover" alt="Cover" width="1080" height="720" src="../assets/img/photos/photo-2.jpg"><img class="object-fit-cover border rounded-circle border-3 border-white position-absolute top-100 start-50 translate-middle" src="../assets/img/team/avatar2.jpg" style="margin-top:-48px;" alt="Profile" width="120" height="120"></div>
                <div class="card-body text-center">
                    <h2 class="fs-4 fw-semibold d-flex justify-content-center align-items-center mb-1">Alex Johnson <span class="badge bg-success ms-2">Pro</span></h2>
                    <p class="text-muted mb-3 small">UI/UX Designer • San Francisco, CA</p>
                    <div class="d-flex justify-content-center gap-4 mb-4">
                        <div>
                            <div class="fw-bold"><span>1.2K</span></div><small class="text-muted d-block">Followers</small>
                        </div>
                        <div>
                            <div class="fw-bold"><span>856</span></div><small class="text-muted d-block">Following</small>
                        </div>
                        <div>
                            <div class="fw-bold"><span>35</span></div><small class="text-muted d-block">Projects</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-2"><span class="badge bg-light">Figma</span><span class="badge bg-light">UX</span><span class="badge bg-light">Writing</span></div>
                </div>
                <div class="card-footer text-center small"><a class="text-decoration-none d-inline-flex align-items-center me-3" href="#"> <svg class="bi bi-linkedin" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"></path>
                        </svg>&nbsp;LinkedIn</a><a class="text-decoration-none d-inline-flex align-items-center" href="#"><svg class="bi bi-link" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"></path>
                            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"></path>
                        </svg>&nbsp;Website </a></div>
            </div>
        </div>
    </section>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
</body>

</html>